  :root{
    --background-color: rgb(0, 0, 0);
    --textcolor: white;
    --navbar-color: darkgoldenrod;
  }

body {
    min-height: 100vh;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: var(--background-color);
  }
  
  header {
    display: flex;
    justify-content: end;
    padding: 1%;
    background-color:var(--background-color);
    color: #fff;
  }
  
  h1 {
    /* https://www.sliderrevolution.com/resources/css-text-animation/ developer: Hakkam Abdullah */
    background-image: url(../images/beam.gif);
	  background-size: cover;
	  color: transparent;
    background-clip: text;
	  -webkit-background-clip: text;
  	font-size: 60px;
    }
          
  p{
    color: var(--textcolor);
    font-size: 20px;
  }
   
  /* Navagation section */
  nav ul {
    display: flex;
    justify-content: space-between;
    min-width: 300px;
  }

  nav a {
    color:var(--navbar-color);
    font-weight: bold;
    text-decoration: none;
  }
  
  nav a:hover {
    color: var(--textcolor);
    text-decoration:underline;
  }

  /* Main body information and section */
  .main{
    display: flex;
    background: url(../images/background.jpg);
    background-size: cover;
    background-position: center;
   
   
  }
  /* name animation  */
  .title {
    margin: 5%;
    font-family: 'Rock Salt';
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    letter-spacing: 1px;
    line-height:2
  }
     
  /* icon styling above each section */
  .icons {
    margin-bottom: -30px;
    display: flex;
    font-size: 5rem;
    color: var(--textcolor);
  }

  /* code icons section */
 .codecards{
  display:flex;
  justify-content: center;
  margin-bottom: 5vh;
 }

 .codeicons{
  font-size: 5rem;
  color: var(--textcolor);
 }
 
 .codeicons i{
  padding-inline: 50px;
 }

  /* About section  */
  .container {
    justify-content: center;
    margin-top: 50px;
    max-width: 1100px;
    margin: auto;
    margin-bottom: 5%;
  }
  
  .container .self {
    display: flex;
    justify-content: center;
  }

  .self img{
    height: 200px;
    clip-path: polygon(33.33% 0%, 66.66% 0%, 100% 33.33%, 100% 66.66%, 66.66% 100%, 33.33% 100%, 0 66.66%, 0 33.33%);
  }

  .aboutme-header {
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    color: var(--textcolor);
  }
  
  .aboutme-main {
    margin: auto;
    width: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-indent: 3em;
    text-align: start;
  }
  
  .aboutme-main h3 {
    margin-bottom: 5px;
    font-size: 2em;
  }
  
  .aboutme-main p {
    margin-bottom: 50px;
  }
  
  /* projects section*/
   .work-header {
    height: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 200px;
    margin-bottom: 5%;
  }
  
  .work-header h3 {
    margin-top:5%;
    font-size: 2em;
    color: var(--textcolor);
  }
  
  /* Card hovering effects*/
  /* inspiration: https://codepen.io/NikhilBobade/pen/ExZXaGE */
  .card:hover * {
    transform: scale(1.5);
    transition-duration: 0.5s;
    /*https://www.tutorialspoint.com/Set-the-speed-of-the-hover-effect-with-CSS */
   }
    
  .card-container {
    margin: 0 auto;
    width: 80%;
    max-width: 1200px;
  }
       
  .work-grid {
     /* grid-template-columns */
     /*https://developer.mozilla.org/en-US/docs/Web/CSS/grid-template-columns */
    display: grid;
    grid-template-columns: repeat(4, 2fr);
    gap: 20px;
    padding-bottom: 100px;
  }

  .stack {
    display: grid;
  }
  
  .stack > * {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
  }

  .card {
    box-shadow: rgb(116, 71, 29) 10px 12px 15px 2px,
      rgba(253, 251, 251, 0.3) 10px 12px 20px -10px;
    border-radius: 25px;
  }
  
  .card:nth-child(1) {
    /* https://developer.mozilla.org/en-US/docs/Web/CSS/:nth-child */
    /* matches elements based on their position among a group of siblings.*/
    grid-column: 1  / 2;
    grid-row: 1 / 2;
  }
  
  .card-img {
    width: 100%;
    height: 175px;
    object-position: top;
    object-fit: cover;
    border-radius: 20px;      
  }
  
  .card-content {
    align-self: end;
    padding: 0.5rem;
    text-align: center;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
  }
  
  .card-title {
    color: White;
    font-size: 1.2rem;
    text-transform: uppercase;
  }
  
  .card-description {
    color: var(--textcolor);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 1rem;
    font-style: italic;
  }
 
  /* Contact info */
  .contact-header h3 {
    margin-top:5%;
    font-size: 2em;
    color: var(--textcolor);
  }
  .contact-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 200px;
    margin-bottom: 5%;
   }
  
  .contact-container {
    margin: auto;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center; 
  }

  input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
  }
  
  input[type=submit] {
    background-color: var(--navbar-color);
    color: var(--textcolor);
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  input[type=submit]:hover {
    background-color: var(--navbar-color);
  }
  
  form{    
    width: 500px;    
  }
 
/* Footer Info */
   footer {
    margin-top: 55vh;
    display: flex;
    justify-content: center;
    padding: 2%;
    background-color: var(--background-color);
    color: var(--textcolor);
  }

  /* media flexing  */
  @media screen and (max-width: 768px) {
    header, main {
      flex-direction: column;
    }
  
  }
